<div class="container flex flex-wrap w-1/2 max-w-6xl mx-auto mt-10 gap-2">
  <h1 class="text-4xl font-bold text-blue-600 text-center mt-10 text-center w-full mb-2">
    {{title}}
  </h1>
  <p class="text-sm text-gray-600 text-center w-full mb-10">
    {{subtitle}}
  </p>
  <div
    class="card flex flex-col gap-2 grow p-5 items-center border border-gray-300 rounded-[20px] w-1/4 transition-all duration-300 bg-amber-100 hover:shadow-lg hover:scale-[1.03]"
    *ngFor="let item of item">
    <h1 class="text-xl font-bold uppercase">{{ item.logo }}</h1>
    <p class="text-center line-clamp-2">{{ item.description }}</p>
    <a class="text-sm font-bold text-red-400 hover:text-red-600 hover:underline transition-all duration-300"
      href="javascript:void(0)" (click)="openModal(item)">
      {{item.link}}
    </a>
  </div>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 bg-black/50 flex items-center justify-center z-50 animate">

  <div class="bg-white p-6 rounded-2xl w-full max-w-[600px] relative shadow-xl">

    <button class="absolute top-2 right-3 text-xl cursor-pointer" (click)="closeModal()">
      ✖
    </button>
    <h2 class="text-2xl font-bold mb-3 uppercase">
      {{ selectedItem?.logo }}
    </h2>
    <p class="text-gray-600">
      {{ selectedItem?.description }}
    </p>

  </div>
</div>